@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");

* {
  font-family: "Poppins", "Zen Maru Gothic", "Nanum Gothic", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ======= Colors ========== */
  --background-color: #e4e9f7;
  --sidebar-color: #FAF9F6;
  --primary-color: #2196f3;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
}

.container {
  height: 100vh;
  background: var(--background-color);
  color: #111;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 5px 8px;
}
