.sidebar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 64px;
  font-size: 1.5rem;
  padding: 0 3rem;
}

.nav_items li {
  display: inline-block;
  padding: 0 1.3rem;
}
